/* Start Variables */
:root {
  --primary-color: #ffca28;
  --primary-color-opacity: #0a362259;
  --secondary-color: #664d03;
  --secondary-color-opacity: #664d0362;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
/* End Variables */
/* Start Global Variables */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Work Sans", sans-serif;
  
}
/* .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
.main-title {
  text-transform: uppercase;
  margin: 0px auto 80px;
  border: 2px solid black;
  padding: 5px 35px;
  font-size: 20px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::after {
  content: "";
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.main-title::before {
  content: "";
  position: absolute;
  left: -30%;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
@media (max-width: 576px) {
  .main-title::after {
    right: -12%;
  }
  .main-title::before {
    left: -12%;
  }
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
/* End Global Variables */
/*Start Header */
header{
  background-color: black;
  color: white !important;
}
.navbar-toggler{
  background-color: white !important;
}
.navbar-brand{
  color: white !important;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(244 244 244) !important;
}
/*End Header */
/* Start Counter App */
.counter-project {
  position: relative;
  z-index: 100;
  padding-top: var(--main-padding-top);
  position: relative;
  /* background-color: var(--section-background); */
}
.counter-project .counter-project-content {
  background-image: url(/images/CounterBackGround.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.counter-project .counter-project-content .container {
  position: relative;
}
.counter-project .counter-project-content .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
}
.counter-project-content .container .count {
  font-size: 169px;
  font-weight: bold;
  position: absolute;
  top: -155px;
}
.counter-project-content .container .controllers {
  position: absolute;
  top: 150px;
}
.counter-project-content .container .controllers button {
  margin: 0 45px;
  position: relative;
  font-size: 22px;
  width: 120px;
  height: 110px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  transition: var(--main-transition);
}
.counter-project-content .container .controllers button::before {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 0 30px 125px 30px;
  border-radius: 15px;
  width: 0;
  height: 0;
  border-color: transparent transparent #0d6efd transparent;
  right: 30px;
  top: 75px;
  transition: var(--main-transition);
}
.counter-project-content .container .controllers button:hover::before {
  border-color: transparent transparent #0b5ed7 transparent;
}
.counter-project-content .container .controllers .btn-warning::before {
  border-color: transparent transparent #ffc107 transparent;
}
.counter-project-content .container .controllers .btn-warning:hover::before {
  border-color: transparent transparent #ffca2c transparent;
}
@media (max-width: 768px) {
  .counter-project-content .container .controllers button {
    margin: 0 17px;
    position: relative;
    font-size: 15px;
    width: 86px;
    height: 76px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    transition: var(--main-transition);
  }
  .counter-project-content .container .controllers button::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 0 20px 90px 20px;
    border-radius: 15px;
    width: 0;
    height: 0;
    border-color: transparent transparent #0d6efd transparent;
    top: 40px;
    right: 50%;
    transition: var(--main-transition);
    transform: translateX(50%);
  }
}
/* End Counter App */
/* Start Guessing App */
.guess-project {
  position: relative;
  z-index: 100;
  padding-top: var(--main-padding-top);
  position: relative;
  background-color: var(--section-background);
}
.guess-project .guess-project-content {
  background-image: url(/images/GuessApp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}
.guess-project .guess-project-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.292);
  z-index: 0;
}
.guess-project .guess-project-content .content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 22px;
  font-weight: bold;
  align-items: center;
}
.guess-project .guess-project-content .content h1 {
  margin-bottom: 50px;
  color: var(--primary-color);
}
.guess-project .guess-project-content .content form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.guess-project .guess-project-content .content form input {
  border: none;
  border-radius: 15px;
  margin: 0px 15px 0px 15px;
}
.guess-project .guess-project-content .content form button {
  font-weight: bold;
}
@media (max-width: 776px) {
  .guess-project .guess-project-content .content form {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
  }
  .guess-project .guess-project-content .content form input {
    margin: 15px 0px 15px 0px;
  }
}
/* End Guessing App */
/* Start Of Temprature Convirsion App */
.tempr-project {
  position: relative;
  z-index: 100;
  padding-top: var(--main-padding-top);
}
.tempr-project-content {
  background-image: url(/images/tempconv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.tempr-project-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.543);
  z-index: 0;
}
.tempr-project-content .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  width: 282px;
  height: 330px;
  text-align: center;
  background-color: #ffffff75;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
}
.tempr-project-content .content h4 {
  color: #0a58ca;
  font-weight: bold;
}
.tempr-project-content .content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
.tempr-project-content .content form input[type="number"] {
  border-radius: 15px;
  border: none;
  margin-bottom: 15px;
  width: 120px;
  height: 35px;
  text-align: center;
}
.tempr-project-content .content form div {
  margin-bottom: 15px;
}
.tempr-project-content .content p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 22px;
}
/* End Of Temprature Convirsion App */
/* Start Of Clock App */
.clock-project {
  position: relative;
  z-index: 100;
  padding-top: var(--main-padding-top);
  background-color: var(--section-background);
}
.clock-project-content {
  background-image: url(/images/Time\ App\ .jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.clock-project-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.543);
  z-index: 0;
}
.digital-clock {
  position: absolute;
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  z-index: 10;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -5%);
  color: white;
  background: linear-gradient(to right, black, #4d4855) !important;
  width: 500px;
  border-radius: 20px;
  text-align: center;
}
@media (max-width: 776px) {
  .digital-clock {
    position: absolute;
    font-family: monospace;
    font-size: 3.5rem;
    font-weight: bold;
    z-index: 10;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -5%);
    color: white;
    background: linear-gradient(to right, black, #4d4855) !important;
    width: 250px;
    border-radius: 20px;
    text-align: center;
  }
}
.stop-watch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stop-watch .controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  border: 5px solid darkseagreen;
  border-radius: 16px;
  width: 400px;
}
.stop-watch .controller div button {
  font-weight: bold;
  padding: 10px 18px;
  font-size: 18px;
}
@media (max-width: 776px) {
  .stop-watch .controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    border: 5px solid darkseagreen;
    border-radius: 16px;
    width: 300px;
  }
  .stop-watch .controller div button {
    font-weight: bold;
    padding: 5px 9px;
    font-size: 15px;
  }
}
/* End Of Clock App */
/* Start Of Calculator App */
.calculator-project {
  position: relative;
  z-index: 100;
  padding-top: var(--main-padding-top);
}
.calculator-project-content {
  background-image: url(/images/CalcApp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.calculator-project-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.543);
  z-index: 0;
}
.calculator-project-content .content {
  font-family: arial;
  position: absolute;
  z-index: 10;
  background-color: hsl(180deg 1% 15% / 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
.calculator-project-content .content input {
  width: 100%;
  padding: 10px;
  font-size: 4rem;
  text-align: left;
  border: none;
  color: white;
  background-color: hsl(180deg 1% 20% / 30%);
}
.calculator-project-content .content #keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
.calculator-project-content .content #keys button {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  background-color: hsl(0, 0%, 30%);
  text-align: center;
}
.calculator-project-content .content #keys button:hover {
  background-color: hsl(180, 1%, 40%);
}
.calculator-project-content .content #keys button:active {
  background-color: hsl(180, 1%, 50%);
}
.calculator-project-content .content #keys .operator-btn {
  background-color: hsl(35, 100%, 50%);
}
.calculator-project-content .content #keys .operator-btn:hover {
  background-color: hsl(35, 100%, 60%);
}
.calculator-project-content .content #keys .operator-btn:active {
  background-color: hsl(35, 100%, 60%);
}

@media (max-width: 776px) {
  .calculator-project-content .content #keys button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: hsl(0, 0%, 30%);
    text-align: center;
  }
}
/* End Of Calculator App */
/* Start Of RockPaperScissors App */
.RockPaperScissors-project {
  position: relative;
  z-index: 100;
  padding-top: var(--main-padding-top);
  background-color: var(--section-background);
}
.RockPaperScissors-project-content {
  background-image: url(/images/RockPaperScissors.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.RockPaperScissors-project-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.231);
  z-index: 0;
}
.RockPaperScissors-project-content .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  margin: 0;
}
.RockPaperScissors-project-content .content h1 {
  color: #ffc83d;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.RockPaperScissors-project-content .content .choice {
  margin-bottom: 30px;
}
.RockPaperScissors-project-content .content .choice button {
  font-size: 6.5rem;
  min-width: 140px;
  margin: 0 7px;
  border-radius: 250px;
  background-color: hsl(200, 100%, 50%);
  cursor: pointer;
  transition: background-color 0.5s ease;
  border: none;
}
.RockPaperScissors-project-content .content .choice button:hover {
  background-color: hsl(200, 100%, 70%);
}
#playDisplay,
#computerDisplay {
  color: #6ccff0;
  font-weight: bold;
  font-size: 2.5rem;
}
#resultDisplay {
  color: #198754;
  font-size: 5rem;
  margin: 30px 0;
}
@media (max-width: 776px) {
  .RockPaperScissors-project-content .content h1 {
    color: #ffc83d;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .RockPaperScissors-project-content .content .choice button {
    font-size: 2rem;
    min-width: 50px;
    margin: 0px 3px;
    border-radius: 250px;
    background-color: rgb(0, 170, 255);
    cursor: pointer;
    transition: background-color 0.5s ease 0s;
    border: none;
  }
  #playDisplay,
  #computerDisplay {
    color: #6ccff0;
    font-weight: bold;
    font-size: 1.5rem;
    min-width: 250px;
  }
  #resultDisplay {
    color: #198754;
    font-size: 2rem;
    margin: 30px 0;
    font-weight: bold;
  }
}
/* End Of RockPaperScissors App */
/* Start Of Weathe App */
.Weather-project {
  position: relative;
  z-index: 100;
  padding-top: var(--main-padding-top);
  /* background-color: var(--section-background); */
}
.Weather-project-content {
  background-image: url(/images/weatherApp1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.Weather-project-content .content {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Weather-project-content .content .weatherForm input {
  padding: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid hsla(0, 0%, 20%, 0.3);
  border-radius: 10px;
  margin: 10px;
  width: 250px;
}
@media (max-width: 776px) {
  .Weather-project-content .content .weatherForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.Weather-project-content .content .weatherForm button[type="submit"] {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: hsl(122, 39%, 50%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Weather-project-content .content .weatherForm button[type="submit"]:hover {
  background-color: hsl(122, 39%, 40%);
}
.Weather-project-content .content .card {
  background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 50px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.662);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.Weather-project-content .content .card h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: bold;
}
.Weather-project-content .content .card p {
  /* font-size: 1.5rem;
  margin: 5px 0; */
}
.cityDisplay,
.tempDisplay {
  font-size: 1.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}
.humidityDisplay {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 25px;
}
.descDisplay {
  font-style: italic;
  font-size: 1rem;
  font-weight: bold;
}
.weatherEmoji {
  margin: 0px;
  font-size: 5.5rem;
}
.errorDisplay {
  font-size: 1.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.75);
}
/* End Of Weathe App */
/* Start Footer */
.footer{
  background-color: #191919;
  padding: 70px 0 0;
  color: white;
}
.footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 300px;
}
@media (max-width:976px) {
  .footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
  }
}
@media (max-width:776px) {
  .footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
  }
}
.footer #jonyinfo{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer .container .box h3{
  font-size: 50px;
  margin: 0 0 20px;
  color: white;
}
.footer .container .box .social{
  display: flex;
}
.footer .container .box .social li{
  margin-right: 10px;
}
.footer .container .box .social li a{
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
  transition: var(--main-transition);
  text-decoration: none;
}
.footer .container .box .social .faceebook:hover{
  background-color: #1877f2;
  color: white;
  font-size: 33px;
}
.footer .container .box .social .Github:hover{
  background-color: white;
  color: black;
  font-size: 33px;
}
.footer .container .box .social .Linkedin:hover{
  background-color: #0a66c2;
  font-size: 33px;
  color: white;
}
.footer .container .box .social .Gmail img{
  width: 33px;
  position: relative;
  transition: var(--main-transition);
}
.footer .container .box .social .Gmail{
  position: relative;
  transition: var(--main-transition);
}
.footer .container .box .social .Gmail::after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #313131b8;
  transition: var(--main-transition);
}
.footer .container .box .social .Gmail:hover::after{
  top: 50%;
  right: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  transition: var(--main-transition);
}
.footer .container .box .social .Gmail:hover img{
  width: 36px;
}
.footer .container .box p{
  margin: 10px 0;
  line-height: 2;
  color: #b9b9b9;
}
.footer .container .box .links li {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: var(--main-transition);    
}
.footer .container .box .links li:not(:last-child){
  border-bottom: 1px solid #444;
}
.footer .container .box .links a{
  color: #b9b9b9;
}
.footer .container .box .links a::before{
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .container .box .links li:hover a{
  color: white;
}
.footer .container .box .links li:hover{
  padding-left: 20px;
}
.footer .footer-gallery img{
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright{
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
.footer .box .line{
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
.footer .box .line i{
  color: var(--main-color);
  font-size: 25px;
  margin-right: 10px;
}
/* End Footer */
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Animation */
